header{
    text-align: right;
}

body{
    background-color: antiquewhite;
}

section{
    background-color:rgb(228, 221, 213)
}

body, header{
    padding: 0 25%;
}

section, article{
    border: 1px solid black;
}

article{
    text-align: center;
}