#create-container {
  display: flex;
  flex-direction: column;
  background-color: #6c95a0ec;
  align-items: center;
  height: 100%;
  border: 1px solid white;
  border-radius: 5px;
}

#create-form {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 650px;
  background-color: #ffffff70;
  border: 2px solid white;
  border-radius: 5px;
  font-weight: bold;
  padding: 35px;
}

#title-input,
#author-input,
#submit {
  height: 40px;
}

#tags,
.inputForm {
  background-color: lightsteelblue;
}

.inputForm:hover,
#create-contents:hover,
#tags:hover,
#submit:hover {
  color: black;
  background-color: lightgray;
}

.create-links {
  font-size: larger;
  color: lightskyblue;
}

label {
  margin: auto;
}
option {
  margin-left: 5px;
  font-size: bold;
  font-size: larger;
  padding: 2px;
}

#headline {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: underline;
  color: lightgrey;
}
::placeholder {
  color: grey;
}
